In [22]:
# -*- coding: utf-8 -*-
"""
Created on Sun Sep  1 10:55:59 2019

@author: sscodes(SANKET SARKAR)
"""

'\nCreated on Sun Sep  1 10:55:59 2019\n\n@author: sscodes(SANKET SARKAR)\n'

In [11]:
#Series

In [3]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
labels=['a','b','c']

In [6]:
my_data=[10,20,30]

In [7]:
arr=np.array(my_data)

In [8]:
arr

array([10, 20, 30])

In [9]:
d={'a':10,'b':20,'c':30}

In [10]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [12]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [14]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [15]:
pd.Series(data=my_data, index=['x','y','z'])

x    10
y    20
z    30
dtype: int64

In [16]:
pd.Series(data=[sum,print,len], index=labels)

a      <built-in function sum>
b    <built-in function print>
c      <built-in function len>
dtype: object

In [17]:
ser1=pd.Series([1,2,3,4],['USA','Germany','Russia', 'India'])

In [18]:
ser1

USA        1
Germany    2
Russia     3
India      4
dtype: int64

In [19]:
ser1['India']

4

In [20]:
ser2=pd.Series([1,2,5,4],['Japan','Germany','Russia', 'India'])

In [21]:
ser1+ser2

Germany    4.0
India      8.0
Japan      NaN
Russia     8.0
USA        NaN
dtype: float64